.marRight8{
	margin-right: 8px;
}

.marRight50{
	margin-right: 50px !important;
}

.noPadBtm{
	padding-bottom:0px !important;
}

.textAignLeft{
	text-align: left !important;
}

.floatRight{
	float: right !important;
}

.panelHeaderIcon{
	    margin-right: 23px;
    color: #317eac;
}

.mar5{
	margin: 5px !important;
}



.Width30Per{
       width: 30% !important;
}

.cursorPointer{
       cursor: pointer !important;
}

.noFloat{
           float: none !important;
}

.mar10{
           margin: 10px !important;
}

.noPadLeft{
	padding-left: 0px !important;
}

.textAlgnInit{
           text-align: initial !important;
}
