/*body {
	font-family: 'Open Sans', sans-serif;
	background: url(../images/5.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-size: 100% 100%;
}*/


.marRight8{
	margin-right: 8px;
}

.marLeft8{
	margin-left: 8px;
}


.marRight50{
	margin-right: 50px !important;
}

.noPadBtm{
	padding-bottom:0px !important;
}

.textAignLeft{
	text-align: left !important;
}

.floatRight{
	float: right !important;
}

.panelHeaderIcon{
	    margin-right: 23px;
    color: #317eac;
}

.mar5{
	margin: 5px !important;
}

.marTop20{
	margin-top: 20px !important;
}

.Width30Per{
       width: 30% !important;
}

.cursorPointer{
       cursor: pointer !important;
}

.noFloat{
           float: none !important;
}

.mar10{
           margin: 10px !important;
}

.noPadLeft{
	padding-left: 0px !important;
}

.textAlgnInit{
           text-align: initial !important;
}

.noPad{
	padding: 0px;
}